<div class="container" id="contact-container">
  <div class="landing">
    <div class="text-container">
      <h1 class="en">Contact</h1>
      <h1 class="fr">Contactez nous</h1>
    </div>
  </div>
  <div class="content-container">
    <p class="en">For all general inquiries, please email <a href="mailto:information@cde.cfes.ca">information@cde.cfes.ca</a></p>
    <p class="fr">Pour les questions générales, envoyez-nous un courriel <a href="mailto:information@cde.cfes.ca">information@cde.cfes.ca</a></p>

    <h2 class="en">Team Members</h2>
    <h2 class="fr">Membres de l’équipe</h2>
    <a class="person-link" href="mailto:kristina.lee@cde.cfes.ca"><div class="person">
      <img src="assets/img/team/klee.jpg">
      <div class="info">
        <h3>Kristina<br>Lee</h3>
        <p class="en">Chair</p>
        <p class="fr">Président</p>
      </div>
    </div></a>
    <a class="person-link" href="mailto:julia.kavuma@cde.cfes.ca"><div class="person">
      <img class="pic-show" src="assets/img/team/julia.jpg">
      <img class="pic-hover" src="assets/img/team/julia_hover.jpg">
      <div class="info">
        <h3>Julia<br>Kavuma</h3>
        <p class="en">Event Programs</p>
        <p class="fr">Programmes d’événements</p>
      </div>
    </div></a>
    <a class="person-link" href="mailto:casey.palermo@cde.cfes.ca"><div class="person">
      <img class="pic-show" src="assets/img/team/casey.jpg">
      <img class="pic-hover" src="assets/img/team/casey_hover.jpg">
      <div class="info">
        <h3>Casey<br>Palermo</h3>
        <p class="en">Hospitality</p>
        <p class="fr">Hospitalité</p>
      </div>
    </div></a>
    <a class="person-link" href="mailto:elizabeth.foran@cde.cfes.ca"><div class="person">
      <img src="assets/img/team/liz.jpg">
      <div class="info">
        <h3>Elizabeth<br>Foran</h3>
        <p class="en">Sponsorship</p>
        <p class="fr">Commandite</p>
      </div>
    </div></a>
    <a class="person-link" href="mailto:kevin.mcnamara@cde.cfes.ca"><div class="person">
      <img class="pic-show" src="assets/img/team/kmac.jpg">
      <img class="pic-hover" src="assets/img/team/kmac_hover.jpg">
      <div class="info">
        <h3>Kevin<br>McNamara</h3>
        <p>Finance</p>
      </div>
    </div></a>
    <a class="person-link" href="mailto:victoria.debrincat@cde.cfes.ca"><div class="person">
      <img src="assets/img/team/vic.jpg">
      <div class="info">
        <h3>Victoria<br>Debrincat</h3>
        <p class="en">Media and IT</p>
        <p class="fr">Média et informatique</p>
      </div>
    </div></a>
    <a class="person-link" href="mailto:clarisse.schneider@cde.cfes.ca"><div class="person">
      <img class="pic-show" src="assets/img/team/clarisse.jpg">
      <img class="pic-hover" src="assets/img/team/clarisse_hover.jpg">
      <div class="info">
        <h3>Clarisse<br>Schneider</h3>
        <p class="en">Media, IT, & Website</p>
        <p class="fr">Média, informatique et site web</p>
      </div>
    </div></a>
  </div>
</div>