<div class="container" id="home-container">

  <div class="landing">
     <div class="text-container">
        <h1 class="en">Conference on Diversity in Engineering 2015</h1>
        <h1 class="fr">Conférence sur la Diversité en Ingénierie  2015</h1>
        <h2 class="en">Algorithms for Success</h2>
        <h2 class="fr">Algorithmes du Succès</h2>
        <a href="#home"><div id="arrow"></div></a>
      </div>
  </div>
  <div class="content-container" id="home">
    <div class="description"><p class="en black">The University of Waterloo is proud to host the inaugural Conference on 
    Diversity in Engineering this November 2015. As new initiative of the Canadian Federation of Engineering Students, CDE aims to equip tomorrow’s leaders with the knowledge and inspiration to positively impact the Canadian engineering industry. 150 of the brightest engineering students from across the country will join together to discuss and learn about the challenges and opportunities that are faced in building a representative engineering community.</p>
    <p class="fr black">L’université de Waterloo est fière d’accueillir la première Conférence sur la Diversité en Ingénierie en Novembre 2015. Une nouvelle initiative de la Fédération Canadienne Étudiante en Génie (FCEG), la FCEG cherche à équiper les dirigeants du futur avec les connaissances et l’inspiration nécessaire pour influencer l’industrie d’ingénierie canadienne d’une manière positive. 150 des plus brillants étudiants en génie du pays se réuniront pour discuter et apprendre concernant les défis et opportunités présentés en formant une communauté d’ingénierie représentative.</p></div>

    <div class="quote purple"><div class="text">
      <h2 class="en">An opportunity to contribute to an inclusive engineering community that reflects Canada’s mosaic.</h2>
      <h2 class="fr">L’occasion de contribuer à une communauté d’ingénierie inclusive qui reflète la mosaïque canadienne.</h2>
    </div></div>

    <div class="quote">
    <div class="text en">
      <p class="pink">A </p><h3 class="black">unique platform</h3><p class="pink">to support the </p><h3 class="black">future leaders</h3><p class="pink">of the Canadian engineering industry.</p><br/>
      <p class="pink">Showcase your organization and abilities to individuals </p><h3 class="black">across the country.</h3>
    </div>
    <div class="text fr">
      <p class="pink">Une </p><h3 class="black">plate-forme unique </h3><p class="pink">pour supporter </p><h3 class="black">les futurs dirigeants </h3><p class="pink">de l’industrie d’ingénierie canadienne.</p><br/>
      <p class="pink">Présentez votre organisation et vos capacités aux personnes </p><h3 class="black"> à travers le pays.</h3>
    </div></div>

    <div class="quote" id="algorithms" data-stellar-background-ratio="0.4" data-stellar-vertical-offset="0">
      <div class="text en">
        <h2>Algorithms for Success:</h2>
        <p>Algorithms are used on a daily basis to solve simple on complex problems to better society - sessions will provide knowledge and tools for participants to be successful</p>
      </div>
      <div class="text fr">
        <h2>Les Algorithmes du Succès:</h2>
        <p>Les algorithmes sont utilisés quotidiennement pour résoudre des problèmes simples ou complexes afin d’améliorer notre société - des sessions fourniront les connaissances et les outils pour que les participants puissent réussir.</p>
      </div>
    </div>

    <div class="quote">
      <div class="text en">
        <h2 class="gold">Opportunities to establish partnerships with the organizations that are empowering the next generation of engineering leaders.</h2>
      </div>
      <div class="text fr">
        <h2 class="gold">Possibilités d’établir des partenariats avec les organisations qui supportent la prochaine génération de dirigeants d’ingénierie.</div></h2>
      </div>
  </div>
</div>