<div class="container" id="sponsors-container">
  <div class="landing">
    <div class="text-container">
      <h1 class="en">Sponsors</h1>
      <h1 class="fr">Commanditaires</h1>
    </div>
  </div>
  <div class="content-container">
    <p class="en">If you're interested in sponsoring CDE 2015, please email <a href="mailto:elizabeth.foran@cde.cfes.ca">elizabeth.foran@cde.cfes.ca</a></p>
    <p class="fr">Si vous êtes intéressé à commanditer la CDI 2015, envoyez-nous un courriel <a href="mailto:elizabeth.foran@cde.cfes.ca">elizabeth.foran@cde.cfes.ca</a></p>
    <a class="en" href="assets/pdf/en/SponsorshipPackage_EN.pdf" download><button>Download sponsorship package</button></a>
    <a class="fr" href="assets/pdf/fr/SponsorshipPackage_FR.pdf" download><button>Télécharger la trousse de commandite </button></a>
    <!--<h2>Gold Sponsors</h2>
    <div class="sponsor-level">
        <a href="http://www.pcl.com/Pages/default.aspx" target="_blank"><div class="link">
          <div class="info">
          <h3>PCL</h3>
          <p>Gold Sponsor</p>
        </div>
          <img class="gold" src="assets/img/supporters/pcl.jpg">
        </div></a>
        <a href="http://www.pcl.com/Pages/default.aspx" target="_blank"><div class="link">
          <div class="info">
          <h3>PCL</h3>
          <p>Gold Sponsor</p>
        </div>
          <img class="gold" src="assets/img/supporters/pcl.jpg">
        </div></a>
        <a href="http://www.pcl.com/Pages/default.aspx" target="_blank"><div class="link">
          <div class="info">
          <h3>PCL</h3>
          <p>Gold Sponsor</p>
        </div>
          <img class="gold" src="assets/img/supporters/pcl.jpg">
        </div></a>
     </div>-->
     <h2 class="en">Silver Sponsors</h2>
     <h2 class="fr">Les Commanditaires Argent</h2>
    <div class="sponsor-level">
        <a href="https://uwaterloo.ca/engineering/" target="_blank"><div class="link">
          <div class="info">
          <h3>Dean of Engineering</h3>
          <p class="en">Silver Sponsor</p>
          <p class="fr">Commanditaire Argent</p>
        </div>
          <img class="silver" src="assets/img/supporters/dean.png">
        </div></a>
        <a href="https://uwaterloo.ca/women-in-engineering/" target="_blank"><div class="link">
          <div class="info">
          <h3>WiE Waterloo</h3>
          <p class="en">Silver Sponsor</p>
          <p class="fr">Commanditaire Argent</p>
        </div>
          <img class="silver" src="assets/img/supporters/wie.png">
        </div></a>
     </div>
    </div>  
  </div>
</div>